<!DOCTYPE html>
<html lang="en">
<div th:replace="chat/layout::head"></div>

<body class="flex justify-center h-screen">
<!--  채팅 박스  -->
<div class="flex flex-col w-7/12 min-w-[800px] max-w-[900px] mt-6" id="app">
    <div class="text-3xl font-semibold">채팅</div>
    <!--   가로선   -->
    <div class="border border-inherit mt-4"></div>
    <div class="flex justify-start h-5/6 w-full">
        <!--   세로선 시작선    -->
        <div class="border border-inherit h-full"></div>
        <!--   채팅방     -->
        <div class="flex flex-col w-2/6 justify-between">
            <div class="flex flex-col">
                <!--     채팅방 아이템     -->
                <button class="flex p-3 hover:bg-zinc-200" v-for="chatRoom in chatRooms" :key="chatRoom.roomId"
                        @click="connectRoom(chatRoom.roomId)">
                    <!--      아바타      -->
                    <div class="inline-block w-11 h-11 min-w-[44px] rounded-full bg-zinc-300"></div>
                    <!--      사용자 이름, 시간, 마지막 채팅      -->
                    <div class="flex flex-col items-start ml-2">
                        <!--       사용자 이름, 시간       -->
                        <div class="flex items-baseline">
                            <div class="font-semibold">{{ chatRoom.name }}</div>
                            <div class="ml-2 text-xs text-zinc-500">2분전</div>
                        </div>
                        <!--       마지막 채팅       -->
                        <div class="truncate text-sm text-zinc-700 w-8/12"> {{ chatRoom.roomId }}</div>
                    </div>
                </button>
            </div>
            <button>방 만들기</button>
        </div>

        <!--   세로선 채팅방 오른쪽     -->
        <div class="border border-inherit"></div>

        <!--    채팅 내용    -->
        <div class="flex flex-col justify-end w-full">
            <div id="messageArea"></div>
            <!--     채팅 입력 input     -->
            <div class="mb-3 mt-5">
                <div class="flex justify-between">
                    <input type="text" placeholder="메시지를 입력해주세요" class="w-full ml-3" v-model="message"
                           @keyup.enter="sendMessage"/>
                    <button class="min-w-[8%]" @click="sendMessage">전송</button>
                </div>
            </div>
        </div>
        <!--   세로선 채팅창 오른쪽     -->
        <div class="border border-inherit"></div>
    </div>
    <div class="border border-inherit"></div>
</div>
</body>

<script>
    let socket;
    let ws;
    // vue
    new Vue({
        el: '#app',
        data: {
            chatRooms: [],
            currentRoomId: "",
            messages: [],
            message: "",
            sender: "",
        },
        created() {
            axios.get('/chat/rooms').then(response => {
                const res = response.data;
                res.forEach(item => {
                    this.chatRooms.push({
                        roomId: item.roomId,
                        name: item.name
                    })
                })
            });
            this.sender = (Math.floor(Math.random() * 100000000) + 1).toString();
        },
        methods: {
            addMessage(recv) {
                let result;
                if (recv.messageType === "JOIN") {
                    result = "<div class=\"flex justify-center\">" + recv.message + "</div>"
                } else if (recv.sender === this.sender){
                    result = "<div class=\"flex justify-end px-5 \">" + recv.message + "</div>"
                } else {
                    result = "<div class=\"flex justify-start px-5 \">" + recv.message + "</div>"
                }
                $("#messageArea").append(result);
            },
            connectRoom(roomId) {
                this.currentRoomId = roomId;
                this.connect();
            },
            recvMessage(recv) {
                this.addMessage(recv);
            },
            sendMessage() {
                ws.send("/pub/chat/message", {},
                    JSON.stringify({
                        messageType: 'TALK',
                        roomId: this.currentRoomId,
                        sender: this.sender,
                        message: this.message
                    }));
                this.message = '';
            },

            connect() {
                socket = new SockJS("/ws-stomp");
                ws = Stomp.over(socket);
                let reconnect = 0;

                ws.connect({}, (frame) => {
                    ws.subscribe("/sub/chat/room/" + this.currentRoomId, (message) => {
                        let recv = JSON.parse(message.body);
                        this.recvMessage(recv);
                    });
                    ws.send("/pub/chat/message", {}, JSON.stringify({
                        messageType: "JOIN",
                        roomId: this.currentRoomId,
                        sender: this.sender,
                        message: ""
                    }));

                }, (error) => {
                    if (reconnect++ <= 5) {
                        setTimeout(function () {
                            socket = new SockJS("/ws-stomp");
                            ws = Stomp.over(socket);
                            this.connect();
                        }, 10 * 100);
                    }
                });
            }
        }
    });

</script>
</html>